body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(93, 129, 196);
    color: rgb(255, 255, 255);
    text-align: center;
    
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: xx-large;
}

button{
    width: 300px;
    width: 150px;
    color: black;
    background-color: red;
    border-radius: 15px;
}